html, body {
    height: 100%;
    margin: 0; 
}

.main_button {
    background-color: #00796b;
    color: white; 
    border: none; 
    border-radius: 25px;
    padding: 15px 30px; 
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: aqua;
    padding: 10px; 
}

main {
    flex: 1; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    font-size: 50px;
}

footer {
    text-align: right; 
    background-color: darkcyan; 
    color: white; 
    padding: 20px; 
}

.main_menu {
    text-align: center;
    font-size: 50px;
    max-width: 900px;
}

section {
    max-width: 900px;
}

h1 {
    text-align: center;
}

.rez {
    font-family: courier new;
}

.biog {
    font-family: cursive;
}

.biog_p {
    font-family: cursive; 
    font-size: 30px;
    max-width: 900px; 
    text-align: left;
}

.hobby {
    text-align: left; 
    font-size: 30px;
}
p {
    text-align: left; 
    font-size: 30px;
}

.p_hobby {
    text-align: left; 
    font-size: 30px; 
    height: 400px;
}

li {
    font-family: courier new; 
    font-size: 30px;
    text-align: left;
}

img {
    height: 400px; 
    float: left; 
    margin: 10px;
}

.main_bord {
    font-weight: bold;
    text-align: right;
    border: 1px solid black;
}

.sup_bord {
    text-align: left;
    border: 1px solid black;
}